<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Retail Store Management</h1>
    <table border="1px">
        {% for product in products %}
    <tr>
        <td>{{product['code']}}</td>
        <td>{{product['name']}}</td>
        <td>{{product['category']}}</td>
        <td>{{product['purchaseDate']}}</td>
        <td>{{product['expiryDate']}}</td>
    </tr>
      {% endfor %}
    </table>
</body>

</html>